/* RESET CSS START */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
  font-family: "neue-light";
  src: url("nl.ttf") format("truetype");
 src: url("dripicons.ttf") format("truetype");
 src: url("fontawesome-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "fontA";
  src: url("dripicons.ttf") format("truetype");
}

@font-face {
  font-family: "fontB";
  src: url("fontawesome-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "bebas-Light";
  src: url("BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "lato-regular";
  src: url("Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "lato-light";
  src: url("Lato-Light.ttf") format("truetype");
}

.dripicons{
    font-family: "fontA";
}

.fontAwesome{
    font-family: "fontB";
}

.bebasLite{
    font-family: "bebas-Light" !important;
}

.latoRegular{
    font-family: "lato-regular" !important;
}

.latoLight{
    font-family: "lato-regular" !important;
}

body {
	line-height: 1.5;
	font-family: 'neue-light' !important;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET CSS END */

.ui-bar-a{
	background-image:url("medrubik_icons/bg_header.png");
	background-repeat:repeat-x;
	text-shadow:0 1px 1px #000000;
}


/*************************common css starts here********************/
.fontItalic{
    font-style:italic;
}

.fontNormal{
    font-style:italic;
}

.error{
	color:red;
	margin-top:15px;
}
 
.borderTopMenuDiv{
 	border-top: 1px solid #343E4B;
}
 
.borderLeftMenuDiv{
 	border-left: 1px solid #343E4B;
}

.borderNone{
    border: 0px solid #000 !important;
}

.whiteTopBorder{
	border-top: 1px solid #FFFFFF;
}

.grayBottomBorder{
	border-bottom: 1px solid #CCCCCC;
}

.capitalize{
	text-transform:capitalize;
}

.font10{
	font-size:10px !important;	
} 

.font11{
	font-size:11px !important;	
}   
    
.font12{
	font-size:12px !important;	
}

.font13{
	font-size:13px !important;	
}

.font14{
	font-size:14px !important;	
}

.font15{
	font-size:15px !important;	
}

.font16{
	font-size:16px !important;	
}

.font17{
	font-size:17px !important;	
}

.font18{
	font-size:18px !important;	
}

.font19{
	font-size:19px !important;	
}

.font20{
	font-size:20px !important;	
}

.font21{
	font-size:21px !important;	
}

.font22{
	font-size:22px !important;	
}

.font24{
	font-size:24px !important;
}

.font26{
	font-size:26px !important;
}

.font27{
	font-size:27px !important;
}

.font28{
	font-size:28px !important;
}

.font30{
	font-size:30px !important;
}

.font32{
	font-size:32px !important;
}

.font34{
	font-size:34px !important;
}

.marginTop5{
	margin-top:5px;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

	.font10{
		font-size:13px !important;	
	}
    
	.font11{
		font-size:14px !important;	
	}
    
	.font12{
		font-size:15px !important;	
	}
	
	.font13{
		font-size:16px !important;	
	}
	
	.font14{
		font-size:17px !important;	
	}
	
	.font15{
		font-size:18px !important;	
	}
	
	.font16{
		font-size:19px !important;	
	}
	
	.font17{
		font-size:20px !important;	
	}
	
	.font18{
		font-size:21px !important;	
	}
	
	.font19{
		font-size:22px !important;	
	}
	
	.font20{
		font-size:23px !important;	
	}
	
	.font21{
		font-size:24px !important;	
	}
	
	.font22{
		font-size:25px !important;	
	}
    
	.font24{
		font-size:27px !important;
	}
    
	.font26{
		font-size:29px !important;
	}
    
	.font28{
		font-size:31px !important;
	}
    
	.font30{
		font-size:33px !important;
	}
    
	.font32{
		font-size:35px !important;
	}
    
	.font34{
		font-size:36px !important;
	}
}

.fl{
	float:left;
}
.fr{
	float:right;
}

.vtop {
	vertical-align: top;
}

.grayBorderBottom{
	border-bottom:1px solid #E0E0D0;
}


.none{
	display:none;
}

.block{
	display:block;
}

.inlineBlock{
	display:inline-block;
}

.inlineFlex{
	display:inline-flex;
}

.hidden{
	visibility:hidden;
}

.visible{
	visibility:visible;
}

.bold{
	font-weight:bold;
}

.normal{
	font-weight:normal;
}

.underline{
	text-decoration:underline;
}

.whiteText{
	color:#fff;
}

.blackText{
	color:#000;
}

.redText{
	color:#9D0B0E;
}

.yellowText{
	color:#FF9A00;  
}

.blueText{
	color:#39A5C0;
}

.greenText{
	color:#B30003;
}

.shadowNone{
	text-shadow:none;
}

.shadowBlack{
	text-shadow:1px 1px 1px #000;
}

.shadowWhite{
	text-shadow:1px 1px 1px #fff;
}

.textCenter{
	text-align:center;
}

.textLeft{
	text-align:left;
}

.textRight{
	text-align:right;
}

.fixed{
	position:fixed;
}

.absolute{
	position:absolute;
}

.relative{
	position:relative;
}

.topZero{
	top:0px !important;;
}

.leftZero{
	left:0px !important;;
}

.bottomZero{
	bottom:0 !important;;
}

.rightZero{
	right:0 !important;;
}

.marginTopZero{
	margin-top:0p;
}

.marginLeftZero{
	margin-left:0p;
}

.marginBottomZero{
	margin-bottom:0;
}

.marginRightZero{
	margin-right:0;
}

.width33{
	width:33.33%;
}

.width40{
	width:40%;
}

.width50{
	width:50%;
}

.width60{
	width:60%;
}

.width100{
	width:100%;
}

.height100{
	height:100%;
}

.widthAuto{
	width:auto;
}

.heightAuto{
	height:auto;
}

.yellowBG{
	background-color:#fffae0;
	margin-left:13%;
}

.blueBG{
	background-color:#c1dcf6;
	margin-right:13%;
}

.greenBG{
	background-color:#FAE4DD;
	margin-left:13%;
}

.greenBGMe{
	background-color:#FAE4DD;
	margin-right:13%;
}

.whiteBG{
	background-color:#FFF !important;
}

.blackBG{
	background-color:#000 !important;
}


.headerBG{
	background-color:#1B262E !important;
}

.themeBG{
	background:url('../images/bg.png')
}

.grayBG{
    background-color:#CCC !important;
}

.redBG{
    background-color:#CB0048 !important;
}

bgTopLeft{
    background-position:top left;
}

bgTopRight{
    background-position:top right;
}

bgCenter{
    background-position:center center;
}

bgBottomLeft{
    background-position:bottom left;
}

bgBottomRight{
    background-position:bottom right;
}

.bgTopCenter{
	background-position:top center;
}

.bgNoRepeat{
	background-repeat: no-repeat;	
}

.bgRepeatX{
	background-repeat: repeat-y;	
}

.bgRepeatY{
	background-repeat: repeat-x;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .yellowBG{
		background-color:#fffae0;
		margin-left:8%;
    }

    .blueBG{
		background-color:#c1dcf6;
		margin-right:8%;
    }

    .greenBG{
		background-color:#FAE4DD;
		margin-left:8%;
    }

    .greenBGMe{
		background-color:#FAE4DD;
		margin-right:8%;
    }
}

.activeBlue{
	background-color:#39A5C0;
    color:#fff !important;
}

.whiteBorder{
	border:1px solid #fff !important;
}

.blackBorder{
	border:1px solid #000 !important;
}

.overflowAuto{
	overflow:auto;
}

.overflowhidden{
	overflow:hidden !important;
}

.overflowScroll{
	overflow:scroll;
}

.wordWrap{
	word-wrap:break-word;
}

.overflowYAuto{
	overflow-y:auto;
}

.overflowYHidden{
	overflow-y:hidden;
}

.overflowXAuto{
	overflow-x:auto;
}

.overflowXHidden{
	overflow-x:hidden;
}

.overflowElipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pointer{
	cursor:pointer;
}

a{
	text-decoration: none;
}

.marginZero{
	margin :0 0 0 0 !important;
}

.paddingZero{
	padding :0 0 0 0 !important;
}
 
.borderMed{
 	border: medium none;
}

.auto{
	margin-left:auto;
	margin-right:auto;
}

grayText{
	color:gray !important;
}

.fullBGSize{
	background-size: 100% 100%;
}

.grayBG{
	background-color:#CCC;	
}

.heightZero{
    height:0px;
}

.borderRadiusFive{
	-webkit-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}

.mask{
	display: none;
	background: #171616; 
	position: fixed; left: 0; top: 0; 
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 9999;
}

.borderRight{
	border-right:1px solid;
}

.decorationNone{
	text-decoration:none;
}

.borderBottomBlack{
	border-bottom: 1px solid #000000;
}

.opacityZero{
    opacity:0;
}

.opacityOne{
    opacity:1;
}

.required{
    background-image:url('../images/delete.png');
    border-bottom: 1px solid #CB0048;
}
/************************************common css ends here************************************/



/************************************Header css starts here*************************************/
.headerDiv{
	z-index:999;
}

.headerDivHeight{
	height:55px;
	background-size:100% 49px;
}

.notificationIcon{
	height:35px;
}

.topMenuIcon{
	width:40px;
	height:40px;
      border-radius:25px;
    margin-top:7px !important;
}

.topMenu{
    width:60px;
}

.commNamePosition{
    line-height:50px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { 
	.headerDivHeight{
		height:65px;
	}
    
    .topMenuIcon{
        width:50px;
        height:50px;
        border-radius:30px;
    }
    
    .topMenu{
        width:70px;
    }
    
  .commNamePosition{
    line-height:62px;
  }
}


/************************************Header css starts here************************************/


/************************************SubHeader css starts here******************************************/
.subHeader, .subHeaderHelp{
	border-bottom:1px solid #ccc;
}

.subheaderDivHeight{
        top:48px;
        height:50px;
}

.subjectHeader{
    min-width:200px;
    margin-left:3%;
}

.subjectHeaderPos{
    margin-top:5px;
    height:18px;
        overflow:hidden;
}

.searchBarBox{
    height:50px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {  
    .subheaderDivHeight{
		top:58px;
		height:60px;
	}
    
    .subjectHeaderPos{
        margin-top:10px;
        height:20px;
        overflow:hidden;
    }
    
    .searchBarBox{
        height:50px;
    }
}
/************************************SubHeader css ends here******************************************/



/***************************************Footer css starts here******************************************/
/*Footer css*/
/***************************************Footer css ends here******************************************/


/************************************Page related css starts here******************************************/
.slidePage{
    z-index:10;
}
/**************************************Page related css ends here******************************************/



/*************************Login css starts here********************/

.linkBox{
	width:35%;
	margin-top: 65px;
	padding:6px 0px 6px 0px;
	z-index:99999999;
	background:#484E53;
	border:1px groove #3A3A3A;
	box-shadow: 1px 1px 0 0 #272727;
    -webkit-box-shadow: 1px 1px 2px 1px #272727;
    -moz-box-shadow: 1px 1px 2px 1px #272727;
    box-shadow: 1px 1px 2px 1px #272727;

}


.forgotLink{
	margin:10px auto;
}

.loginDiv{
	margin: 10% auto 0;
}

.loginDivWidth{
	width:75%;
}

.loginInput{
	height:40px;
	background:none;
	border-top:0px solid #54595D;
	border-left:0px solid #54595D;
	border-right:0px solid #54595D;
	border-bottom:1px inset #fff;
	box-shadow:none;
    margin-top:5px;
}

.passField{
	height:20px;
}


.logoApplication{
	background-color: #CB0048;
	height: 40px;
	/*border:1px groove #272727;
	box-shadow: 1px 1px 0 0 #272727;*/
}

.Three-Dee{
    font-family: Helvetica Neue',Helvetica, sans-serif;
    line-height: 1em;
    color: #fff9d6;
    font-size: 24px;
    text-shadow:0px 0px 0 rgb(204,204,204),-1px 1px 0 rgb(162,162,162),-2px 2px 0 rgb(121,121,121), -3px 3px 0 rgb(80,80,80),-4px 4px 3px rgba(0,0,0,0.25),-4px 4px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);
}



@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.loginDiv{
		margin: 120% auto 0;
	}
}


/*************************Login css ends here********************/


/***********************Right slide panel starts here*************************************/
.rightSlidePanel{
	width:250px;
	z-index:9;
	right:0px;
	top:0px;
}


.rightSlidePanelDiv{
	width:110px;
	z-index:999999;
       position:absolute;
       left:35px;
}

.userInfo{
    height:47px;
    padding-left: 2%;
    border-bottom:1px solid #4a5b60;
}


.menuOptionDiv{
	border-bottom: 1px solid #4a5b60;
      height: auto;
      padding-bottom: 5px;
      padding-left: 10%;
    color:#919bac !important;
}

.menuTitle{
	margin-top: 8px;
}

.userTitle{
	margin-top: 10px;
}

ul{
    list-style-type: none;
    margin-top: 0;
}

.panelAlert{
    background-color: #EC5451;
    border-radius: 6px;
    height: 1px;
    margin-left: 7px;
    padding: 2px 7px 23px;
    width: 8px;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {  
    .userInfo{
        height:54px;
    }
}
/***********************Right slide panel ends here*************************************/


/**************************************Doctor's dashboard css starts here**************************************/
.sortingDiv{
	margin-top:10px;
	margin-left:5%;
	width:90%;
	height:25px;
       border:1px solid #39A5C0;
}

.sortCol{
	padding-top:3px;
	padding-bottom:6px;
	height: 16px;
}

.sortColMid{
	border-left: 1px solid #39A5C0;
	border-right: 1px solid #39A5C0;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {  
	.sortingDiv{
		height:25px;
		margin-top:15px;
		margin-left:32.5%;
		width:36%;
	}

}
/**************************************Doctor's dashboard css ends here**************************************/



/**************************************Doctor's dashboard css ends here**************************************/
.composeField{
 	z-index:99;
    height:40px;
}
 
.toFieldHeight{
	top:44px;
}


.toListSize{
	height:37px !important;
}

.subTitle{
	color:#777;
	margin-left:2%;
}

.label{
	margin-top:10px;
}

#toLabel{
    width:10%;
}

#forLabel, subjectLabel{
    width:20%;
}


.forFieldHeight{
	top:84px;
}

.subjectFieldHeight{
	top:128px;
}

.listDivSize{
	width:75%;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { 
	.toFieldHeight{
		top:55px;
		height:45px;
	}
    
	.toListSize{
		height:42px !important;
	}
}
/**************************************Doctor's dashboard css ends here**************************************/














input:-moz-placeholder { color: #fff !important; }
 textarea:-moz-placeholder { color: #fff !important;}


















/*************************Lock page css starts here********************/

.lockinput{
	height:10px !important;
	width:10px !important;
    border-radius: 10px;
    border:0px solid !important;
}

.lockinputFirst{
	margin-left:10%;
}

.lockinputRest{
	margin-left:8%;
}

.inputDiv{
	margin-bottom: 10px;
    min-width: 82px;
    width: auto;
}


.forgotLock{
	width: 240px;
	margin-top:50px;
}

#lockKeyboard{
	width: 280px;
}

.lockKey {
    color: #FFFFFF;
    font-size: 25px;
    height: 50px;
    margin: 6px 12px;
    text-shadow: none;
    padding: 5px;
    width: 50px;
    border-radius:30px;
    border:1px solid #fff;
}


.changelockKey {
    color: #000;
    font-size: 25px;
    height: 50px;
    margin: 6px 12px;
    text-shadow: none;
    padding: 5px;
    width: 50px;
    border-radius:30px;
    border:1px solid #000;
}

.lockKeyFirst{
    margin-left:25px !important;
}

.keyCircle{
    width:44px;
    height:40px;
    padding:8px 2px 2px;
}

.clearCircle{
   border:0px solid #fff !important;
   margin-top:7px !important;
}

.lockWrapper{
	margin: 15% auto 0;
}


.lockDiv{
	width: 290px;
	min-height:270px;
}

.lockHeader{
	margin-bottom:10px;
	width: 240px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { 

	.lockWrapper{
		margin: 25% auto 0; 
	}

	.forgotLock{
		width: 240px;
		margin-top:8%;
	}
}


/*************************Lock page css ends here********************/



.effect6
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}



/*************************Home page css starts here********************/

.welcomeNote{
	margin-top: 1% !important;
}
 
 
 .nameContent{
 	height:8%;
	padding-left:0px !important;
 }
 
 .alarmContent{
 	height:6%;
 	
 }
 
 .menuContent{
 	height:84%;
		
 }
 
 .menuItemDiv{
    margin-top:24%;
    width:54%;
    height:55%;
}
 
 .leftMenu{
 	height: 100%;  
 	width: 46%;
	left:2%;
 }
 
 .rightMenu{
 	height: 100%;  
 	width: 46%;
	right:2%;
 }
 
 .subMenu{
 	height:31.5%;
	margin-top: 2%;
 }
 
 .menuRightPortrait{
 	left:50.5%;
 }
 
.highlight{
 	z-index:999;
}

.actnMenuBG{
	background-image: url("../images/icon_appt.png");
    background-size: 70% auto;
}

.medMenuBG{
	background-image: url("../images/icon_med.png");
	background-size: 50%;
}

.apptMenuBG{
	background-image: url("../images/icon_calendar.png");
    background-size: 80% auto;
}

.vitMenuBG{
	background-image: url("../images/icon_vitals.png");
    background-size: 37% auto;
}

.commMenuBG{
	background-image: url("../images/icon_communication.png");
}

.otherMenuBG{
	background-image: url("../images/icon_more.png");
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { 
	.actnMenuBG{
		background-size: 50%;
	}
	
	.medMenuBG{
		background-size: 35%;
	}
	
	.apptMenuBG{
		background-size: 60%;
	}
	
	.vitMenuBG{
		background-size: 30%;
	}
	
	.commMenuBG{
		background-size: 60%;
	}
	
	.otherMenuBG{
		background-size: 60%;
	}
    
    .rightMenu{
        height: 100%;
        width: 46%;
        left:2%;
    }
    
    
}

.subMenuiPad{
    height: 19%;
    margin-top: 2%;
}



.leftMenuiPad{
 	height: 100%;
 	width: 100%;
}

.notification{
	background-image: url("../images/icon_alert.png");
	background-repeat: no-repeat;
	background-size: 37px 30px;
	height: 30px;
	padding-left: 1px;
	padding-top: 4px;
	width: 37px;
	z-index: 99999999;
}
 
 .menuCss{
	/*background-image: -ms-radial-gradient(center, circle closest-side, #131721 0%, #2B3141 100%);
	background-image: -moz-radial-gradient(center, circle closest-side, #131721 0%, #2B3141 100%);
	background-image: -o-radial-gradient(center, circle closest-side, #131721 0%, #2B3141 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 140, color-stop(0, #131721), color-stop(1, #2B3141));
	background-image: -webkit-radial-gradient(center, circle closest-side, #131721 0%, #2B3141 100%);
	background-image: radial-gradient(circle closest-side at center, #131721 0%, #2B3141 100%);*/
 }
 
 
 .img{
 	z-index: 99999;
 }
 
 .menuActive{
    color:#CB0048 !important;
 }


/*************************Home page css ends here********************/




/*************************Inbox page css ends here********************/
/*************************Inbox page css ends here********************/
.msgAlert{
    background-color: #EC5451;
    border-radius: 4px;
    height: 1px;
}

.msgAlertPos{
    margin-right:5px;
    padding: 3px 5px 18px;
    margin-top:3px;
}

.inboxRecPane{
    height:20px;
}

.inboxSubPane{
    margin-top:5px;
}

.userListNameSize{
    width:57%;
    margin-left:10px;
    height:30px;
}

.inboxRecPaneSize{
    min-width:40%;
    max-width:60%;
}


.inboxRecExtraSize{
    width:38%;
}

.inboxArrow{
    width:5%;
    margin-right:20px;
}

.inboxTime{
    line-height:1px;
    margin-left:3px;
    width:25%;
}

.inboxTimePos{
    margin-top:15px;
}

.subjectPane{
    width:84%;
    margin-left:10px;
}

.inboxNextPane{
    width:10%;
}

.threadList{
    margin-top:10px;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { 
    .msgAlertPos{
        margin-right:25px;
        padding: 3px 7px 22px;
    }
    
  .inboxRecPane{
    height:32px;
  }
  
  .userListNameSize{
    width:62%;
    margin-left:10px;
    height:36px;
  }
 
  .inboxRecPaneSize{
    width:60%;
  }
 
  .inboxArrowPos{
    margin-top: 10px;
  }
  
  .inboxTimePos{
    margin-top:20px;
  }
  
  .subjectPane{
    width:88%;
    margin-left:10px;
  }
  
  .inboxNextPane{
    width:10%;
  }
}
/*************************Inbox page css ends here********************//*************************Inbox page css ends here********************/



/*************************message page css ends here********************/
.detailImageDiv{
      width:25px;
	height:25px;
	border:1px solid #246B7C;
	border-radius:22px;
    bottom:-10px;
}

.detailImageDivRight{
    right:-10px;
}

.detailImageDivLeft{
    left:-10px;
}

.timeInfoDiv{
    bottom:-15px;
    left:0px;
}

.timeInfoDivLeft{
    margin-left:20px;
}

.timeInfoDivRight{
    margin-right:20px;
}

.composeBody{
    margin: 5px;
    border-radius: 5px;
    height: 40px;
    width:74%;
}

.sendMessage{
    width:18%;
    margin:5px;
    padding-top:2px;
}
/*************************message page css ends here********************/

.searchList{
    padding-top:7px;
  padding-bottom:7px;
}

.userListName{
	margin-top:12px;
}

.listImageDiv{
	width:40px;
	height:40px;
	border:1px solid #ccc;
	margin-top: 2px;
	border-radius:22px;
	margin-left:10px;
	margin-right:10px;
    line-height:45px;
}

.faceImageSize{
    width:45px;
    height:45px;
  line-height:40px;
}

.faceImageDivSize{
    width:40px;
    height:45px;
    line-height:40px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { 
    .userListName{
        height:40px;
    }
}




/*************************continue message page css ends here********************/
.sendMessageBody{
    margin: 5px;
    border-radius: 5px;
    height: 40px;
}

.sendMessageBodyPos{
    width:74%;
}

.detailImageDiv{
      width:25px;
	height:25px;
	border:1px solid #246B7C;
	border-radius:22px;
       bottom:-10px;
       line-height:28px;
}

.detailImageDivRight{
    right:-10px;
}

.detailImageDivLeft{
    left:-10px;
}

.timeInfoDiv{
    bottom:-20px;
}

.timeInfoDivLeft{
    margin-left:20px;
    width:50%;
}

.timeInfoDivRight{
    margin-right:20px;
    width:50%;
}

.sendMessageBody{
    margin: 5px;
    border-radius: 5px;
    height: 40px;
}

.sendMessageBodyPos{
    width:74%;
}

.sendMessage{
    margin:5px;
}

.sendMessagePos{
    width:18%;
}

.messageLine{
    border-radius:7px;
    margin:10px 15px 20px;
    width:80%;
    border-top:1px solid #919BAC;
    line-height: 17px !important;
}

.cssMsgBG{
    background-color:#92C8D5;
    border:1px solid #8bb5bf;
}

.cssMsgBGMe{
    background-color:#bec3cb;
    border:1px solid #b0b4bb;
}

.messageLineSize{
    padding:7px 10px 15px 10px;
}

.blurBG{
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
}

.blurMenuDiv{
    z-index:999999;
    opacity:0.8;
}

.blurMenuDivPos{
    top:100px;
}

.uploadMenuDiv{
    border:2px solid #000;
    margin-top:10px;
    border-radius:5px;
}

.uploadMenuDivSize{
    width:130px;
    height:35px;
}

.conversationMenuDiv{
    height:52px;
    z-index:99999999;
    top:49px;
}

.menuHRLine{
    width:1px;
    height:40px;
    margin-top:5px;
}

.uploadIconDiv{
    width:49%;
}

.uploadIcon{
    width:24px;
    margin-left:10px;
}

.uploadIconText{
    margin-top: 7px;
    margin-left:7px;
}

.userIcon{
    width:25px;
    height:25px;
}

.contentCommunication{
    height: calc(100% - (50px + 60px));
}

.userType{
    height:18px;
  line-height:25px;
}

.userName{
    height:30px;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { 
    .sendMessageBodyPos{
        width:85%;
    }
    
    
    .messageLineSize{
        padding:12px 10px 20px;
    }
    
    .sendMessageBodyPos{
        width:85%;
    }

    .sendMessagePos{
        width:10%;
    }
    
    .detailImageDiv{
        width:30px;
        height:30px;
        border:1px solid #246B7C;
        border-radius:28px;
        bottom:-15px;
        line-height:33px;
    }
    
    .timeInfoDiv{
        bottom:-22px;
    }
    
    .blurMenuDivPos{
        top:120px;
    }
  
    .uploadMenuDivSize{
        width:150px;
        height:40px;
    }
  
    .conversationMenuDiv{
        height:60px;
        top:59px;
    }
  
    .menuHRLine{
        height:50px;
    }
    .userIcon{
        width:30px;
        height:28px;
    }
    
    .contentCommunication{
        height: calc(100% - (62px + 64px));
    }

  .userType{
      height:25px;
    line-height:35px;
  }

  .userName{
    height:35px;
  }
}





/*****************************Attachment option div css*****************************/
.attchmentOptionDiv{
    width:215px;
    right:10px;
    top:60px;
    z-index:99999999;
   border-radius:5px;
}


.msgMenuRow{
    height:60px;
    padding:5px 0px;
}


.msgMenuBlock{
    width:100px;
    height:60px;
    border-radius:3px;
   margin-left:5px;
}


.arrow-up {
	border-bottom: 20px solid #CCCCCC;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    height: 0;
    position: absolute;
    right: 10px;
    top: -17px;
    width: 0;
}