.chromestyle{
width: 100%;
min-width: 1050px;
font-weight: bold;
font:normal 14px Verdana;
}

.chromestyle:after{
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
border-bottom: 1px solid #BBB;
border-top: 1px solid #BBB;
width: 100%;
background: url(chromebg.gif) center center repeat-x; /*THEME CHANGE HERE*/
padding: 4px 0;
margin: 0;
text-align: left;
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
color: #494949;
padding: 4px 7px;
margin: 0;
text-decoration: none;
border-right: 1px solid #DADADA;
}

.chromestyle ul li a:hover{
background: url(chromebg-over.gif) center center repeat-x; /*THEME CHANGE HERE*/
}


.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid #BBB; /*THEME CHANGE HERE*/
border-bottom-width: 0;
font:normal 11px Verdana;
line-height:15px;
z-index:100;
background-color: white;
width: 200px;
visibility: hidden;
//filter: progid:DXImageTransform.Microsoft.Shadow(color=#bbbbbb,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/
}


.dropmenudiv a{
width: auto;
display: block;
text-indent: 5px;
border-bottom: 0px solid #BBB; /*THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;
//font-weight: bold;
color: black;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #f3a432;
}
